<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'add-book' %}" method="POST">
    {% csrf_token%}
       
        <input type="text" name="title" placeholder="Заголовок"><br><br>
        <input type="text" name="subtitle" placeholder="Подзаголовок"><br><br>
        <input type="text" name="description" placeholder="Описание"><br><br>
        <input type="number" name="price" placeholder="Цена"><br><br>
        <input type="text" name="genre" placeholder="Жанр"><br><br>
        <input type="text" name="author" placeholder="автор"><br><br>
        <input type="datetime-local" name="date" placeholder="Год"><br><br>
        <button>Добавить </button>
    
    </form>
    {% for book in books %}
        <div>
            <h3>{{ book.title }} - {{ book.author }}</h3>
            <h4> {{ book.price }} </h4>
            </div>
            <hr>

    {% endfor%}

    
</body>
</html>